# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
flask[async]
gunicorn
debugpy
requests
rich
https://gitlab.wikimedia.org/releng/ddd/-/archive/7db82a66a217e62e14be5aafdae0006048405e99.zip