# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
flask[async]
gunicorn
debugpy
requests
rich
https://gitlab.wikimedia.org/releng/ddd/-/archive/workboard-metrics/ddd-workboard-metrics.zip